<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- Common Services -->

	<bean id="textResourceService"
		class="ch.kostceco.tools.kostval.service.impl.TextResourceServiceImpl">
	</bean>

	<bean id="configurationService"
		class="ch.kostceco.tools.kostval.service.impl.ConfigurationServiceImpl">
		<property name="textResourceService" ref="textResourceService" />
	</bean>

	<bean id="messageService"
		class="ch.kostceco.tools.kostval.service.impl.MessageServiceImpl">
	</bean>

	<bean id="jhoveService"
		class="ch.kostceco.tools.kostval.service.impl.JhoveServiceImpl">
		<property name="configurationService" ref="configurationService" />
	</bean>

	<!-- Validation Services -->
	<bean id="validationArecognitionModule" class="ch.kostceco.tools.kostval.validation.module1.impl.ValidationArecognitionModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
	</bean>

	<bean id="validationBjhoveValidationModule" class="ch.kostceco.tools.kostval.validation.module2.impl.ValidationBjhoveValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="jhoveService" ref="jhoveService" />
		<property name="configurationService" ref="configurationService" />
	</bean>

	<bean id="validationCcompressionValidationModule" class="ch.kostceco.tools.kostval.validation.module2.impl.ValidationCcompressionValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>

	<bean id="validationDphotointerValidationModule" class="ch.kostceco.tools.kostval.validation.module2.impl.ValidationDphotointerValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>

	<bean id="validationEbitspersampleValidationModule" class="ch.kostceco.tools.kostval.validation.module2.impl.ValidationEbitspersampleValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>

	<bean id="validationFmultipageValidationModule" class="ch.kostceco.tools.kostval.validation.module2.impl.ValidationFmultipageValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>

	<bean id="validationGtilesValidationModule" class="ch.kostceco.tools.kostval.validation.module2.impl.ValidationGtilesValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>

	<bean id="validationHsizeValidationModule" class="ch.kostceco.tools.kostval.validation.module2.impl.ValidationHsizeValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>

	<bean id="kostval" class="ch.kostceco.tools.kostval.KOSTVal">
		<property name="textResourceService" ref="textResourceService" />
		<property name="configurationService" ref="configurationService" />
	</bean>

	<bean id="logconfigurator" class="ch.kostceco.tools.kostval.logging.LogConfigurator">
		<property name="textResourceService" ref="textResourceService" />
	</bean>

	<bean id="controller" class="ch.kostceco.tools.kostval.controller.Controller">
		<property name="textResourceService" ref="textResourceService" />
		<property name="validationArecognitionModule" ref="validationArecognitionModule" />
		<property name="validationBjhoveValidationModule" ref="validationBjhoveValidationModule" />
		<property name="validationCcompressionValidationModule" ref="validationCcompressionValidationModule" />
		<property name="validationDphotointerValidationModule" ref="validationDphotointerValidationModule" />
		<property name="validationEbitspersampleValidationModule" ref="validationEbitspersampleValidationModule" />
		<property name="validationFmultipageValidationModule" ref="validationFmultipageValidationModule" />
		<property name="validationGtilesValidationModule" ref="validationGtilesValidationModule" />
		<property name="validationHsizeValidationModule" ref="validationHsizeValidationModule" />
	</bean>

</beans>