@charset "UTF-8";

/* Clean-up */
* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;	
}

/* Make sure we don't have a white background */
body {
	background-color: transparent;
}

/* The stamp itself (the container) */
#decoration-stamp {
	position: absolute;
}

/* The background image from the stamp */
#decoration-stamp-image {
	position: relative;
	margin: 5mm;
}

/* Any text on the stamp */
#decoration-stamp p {
	position: absolute;
	color: -cchip-gray( 0.0 );
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 12pt;
}
