/*====================SEPERATIONS====================*/

.separation-no-color {
    display: flex;
    align-items: center;
}

.separation-no-color img {
    width: 5mm;
    height: 5mm;
    margin-right: 1mm;
}

.separation-process h2,
.separation-spot h2 {
    font-size: large;
}

.separation-page-container {
    page-break-inside: avoid;
}

.separation-page-container .header {
    margin-bottom: 2mm;
}

.separation-image-box {
    display: inline-block;
    page-break-inside: avoid;
    margin: 0 5mm;
    width: 35mm;
}

.separation-image-container {
    margin-top: 1.5mm;
    width: inherit;
    height: 65mm;
}

.separation-image-container img {
    border: 3px lightgrey solid;
    max-width: 100%;
    max-height: 100%;
}
