/*====================SMALLOBJECTS====================*/

.page-small-objects h2 {
    font-size: large;
}

.small-objects-heatmap {
    margin: 5mm 0;
    display: flex;
}

.small-objects-heatmaps-color {
    display: flex;
    flex-direction: row;
}

.small-objects-line-text-data {
    flex: 1;
    margin: 5mm 0 0 3mm;
}

.small-objects-heatmap .color-block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.2mm;
}

.small-objects-heatmap .color-block {
    width: 13mm;
    height: 13mm;
}

.small-objects-no-line-text {
    display: flex;
    align-items: center;
}

.small-objects-no-line-text img {
    width: 5mm;
    height: 5mm;
    margin-right: 1mm;
}

.small-objects-image-box {
    display: inline-block;
    page-break-inside: avoid;
    margin-right: 10mm;
    width: 50mm;
}

.small-objects-image-container {
    margin-top: 1.5mm;
    width: inherit;
    height: 85mm;
}

.small-objects-image-container img {
    max-width: 100%;
    max-height: 100%;
}

.small-objects-color-table { }

.small-objects-color-table th,
.small-objects-color-table td {
    min-width: 25mm;
}

.small-objects-color-table td img {
    width: 4mm;
    height: 4mm;
}
