@import url(all.css);

.easy
{
    border-bottom:                      2px #960 solid;
    opacity:                            1;

    animation-duration:                 0s;
    -webkit-animation-duration:         0s;
}

.easy:hover
{
    border-bottom:                      2px #960 solid;

    animation-duration:                 0s;
    -webkit-animation-duration:         0s;
}

/* --------- */

/* Crimson Text */

@font-face
{
    font-family:                        "Crimson Text";
    font-style:                         normal;
    font-weight:                        bold;
    src:                                url(../fonts/CrimsonText-Bold.ttf);
}

@font-face
{
    font-family:                        "Crimson Text";
    font-style:                         italic;
    font-weight:                        bold;
    src:                                url(../fonts/CrimsonText-BoldItalic.ttf);
}

@font-face
{
    font-family:                        "Crimson Text";
    font-style:                         italic;
    font-weight:                        normal;
    src:                                url(../fonts/CrimsonText-Italic.ttf);
}

@font-face
{
    font-family:                        "Crimson Text";
    font-style:                         normal;
    font-weight:                        normal;
    src:                                url(../fonts/CrimsonText-Roman.ttf);
}

@font-face
{
    font-family:                        "Crimson Text";
    font-style:                         normal;
    font-weight:                        500;
    src:                                url(../fonts/CrimsonText-Semibold.ttf);
}

@font-face
{
    font-family:                        "Crimson Text";
    font-style:                         italic;
    font-weight:                        500;
    src:                                url(../fonts/CrimsonText-SemiboldItalic.ttf);
}

a
{
    color:                              #933;
}

body
{
    margin:                             auto;
    padding-top:                        2em;

    background-color:                   #fffef0;
    color:                              #333;

/* sans-serif */
/*  font:                               1em "lucida grande", "lucida sans unicode", "Trebuchet MS", sans-serif; */
 
    font:                               1.1em "Crimson Text", "Georgia", serif; 
    font-size-adjust:                   none;
    font-style:                         normal;
    font-variant:                       normal;
    font-weight:                        normal;
    line-height:                        1.6em;
}

/*
p,
li
{
    text-align:                         justify;
            hyphens:                    auto;
        moz-hyphens:                    auto;
    -webkit-hyphens:                    auto;
}
*/

h1,
h2,
h3,
h4,
h5,
h6
{
    margin-top:                         1.5em;

    color:                              #3b0b0b;

    font-family:                        "lucida grande","lucida sans unicode","Trebuchet MS", sans-serif;
    /* font-family:                     "Crimson Text"; */
    font-weight:                        bold;
    line-height:                        120%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
.alt_from_image
{
    display:                            block;
}

li
{
    margin-top:                         0.8em;
}

table
{
    margin:                             auto;
}

td
{
    background-color:                   #fff;
    border:                             1px #eee solid;

    text-align:                         center;
}

th
{
    background-color:                   #ffc;
    border:                             1px #ddd solid;

    text-align:                         center;
}

th p,
td p
{
    display:                            inline;
    margin:                             0 !important;
    padding:                            0 !important;
    
    font-size:                          0.9em !important;
    font-weight:                        normal;
    line-height:                        1.5em !important;
    text-indent:                        0 !important;
}

/* DONE: Better solution: all content should be wrapped in a single div-container (e.g. class="content"), that starts directly after the navigation, same applies for dyslexia.css */

.pgh_content
{
    max-width:                          35em;
    padding:                            0 30% 0 30%;
}

/*
.part,
.document,
.sect
{
    max-width:                          35em;
    padding:                            0 30% 0 30%;
}

.document .sect,
.document .part,
.part .sect,
.sect .part
{
    max-width:                          1000em;
    padding:                            0;
}
*/