@import url(all.css);

.basic,
.basic:hover
{
    border-bottom:                      2px #960 solid;
    opacity:                            1;
    
    animation-duration:                 0s;
    -webkit-animation-duration:         0s;
}

/* --------- */

a[href ^= http]:after
{
    content:                            " (" attr(href) ")";
}

body
{
    padding-top:                        2em;
    
    background-color:                   #eee;
    color:                              #333;
    
    font-family:                        Helvetica, Arial, sans-serif;
}

th
{
    background-color:                   #ddd;
    border:                             1px #444 dashed;
}