@import url(all.css);

.inverted
{
    border-bottom:                      2px #960 solid;
    opacity:                            1;

    animation-duration:                 0s;
    -webkit-animation-duration:         0s;
}

.inverted:hover
{
    border-bottom:                      2px #960 solid;   

    animation-duration:                 0s;
    -webkit-animation-duration:         0s;
}

/* --------- */

*
{
    background-color:                   #000;
    color:                              #fff;
}

body
{
    font-family:                        Helvetica, Arial, sans serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
.alt_from_image
{
    color:                              #fff;
}

th
{
    background-color:                   #bbb;
    border:                             1px #444 dashed;
}