@charset "UTF-8";

/* Clean-up */
* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;	
}

/* Make sure we don't have a white background */
body {
	background-color: transparent;
}

/* The stamp itself (the container) */
#decoration {
	position: absolute;
	min-width: 10pt;
	min-height: 10pt;
}

/* Any text on the stamp */
#decoration p {
	color: -cchip-cmyk( 0.0, 0.0, 0.0, 1.0 );
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 36pt;
	margin: 10mm;
}
