@charset "UTF-8";

/* Clean-up */
* {
	margin: 0;
	padding: 0; 
	box-sizing: border-box;	
}

/* Make sure we don't have a white background */
body {
	background-color: transparent;
}

/* The image that is added to the document */
#decoration-image {
	position: absolute;
}
