<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>

<head>
<title>Perl for ISAPI</title>
<link rel="STYLESHEET" href="../../Active.css" type="text/css">
</head>

<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#EAE2BB">
<tr> 
<td width="57"><a target=_blank href="http://www.ActiveState.com/ActivePerl/">
<img src="../../images/activeperl_logo.gif" width="57" height="48" border="0" alt="ActivePerl"></a></td>
<td><div align="center" class="heading">ActivePerl User Guide</div></td>
<td width="112"><a target=_blank  href="http://www.ActiveState.com">
<img src="../../images/AS_logo.gif" width="112" height="48" border="0"  alt="ActiveState" /></a></td>
</tr>
<tr>
<td class="lineColour" colspan="3"></td>
</tr>
</table>

<h1>Perl for ISAPI</h1>

<ul>
  <li><a class="doc" href="#what_is_perlforisapi">What is Perl for ISAPI?</a></li>
  <li><a class="doc" href="#running_perlforisapi">What do I need to run Perl for ISAPI</a>
  <li><a class="doc" href="#how_do_i_install_perlforisapi">How do I install Perl for ISAPI?</a>
</ul>
 
<h2><a name="what_is_perlforisapi">What is Perl for ISAPI?</a></h2>
<p>Perl for ISAPI is a plug-in designed to run Perl scripts faster on ISAPI
compliant Web servers. Requires ActivePerl and an ISAPI compliant Web server
such as Microsoft Internet Information Server 3.0+.</p>
 
<h2><a name="running_perlforisapi">What do I need to run Perl for ISAPI?</a></h2>
<ul>
  <li>ActivePerl
  <li>an ISAPI compatible Web server
  <li>Perl scripts!</li>
</ul>
 
<h2><a name="how_do_i_install_perlforisapi">How do I install Perl for ISAPI?</a></h2>
<p>When you launch the ActivePerl installer, Perl for ISAPI is one
of the components you can optionally install. You must install, or have
previously installed, ActivePerl to use Perl for ISAPI.</p>

<h2><a name="other_references">Other References</a></h2>
<p>The ActivePerl FAQ has a useful section on Perl for ISAPI. You can find it
<a class="doc" href="../../faq/Windows/ActivePerl-Winfaq2.html">here.</a></p>

<p>&nbsp;
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td class="block" valign="MIDDLE" width="100%" bgcolor="#cccccc"><strong>
      <p class="block">&nbsp;Perl for ISAPI</p>
      </strong></td>
  </tr>
</table>

</body>

</html>
