@import url(all.css);






.structure,
.structure:hover
{
    border-bottom:                      2px #960 solid;
    opacity:                            1;
    -webkit-animation-duration:         0s;
    animation-duration:                 0s;
}

*
{
    font-family:                        sans-serif;
    background-position:                left top;
    background-repeat:                  repeat-y;
    margin:                             0;
    padding:                            0; /* all margins and paddings are resetted in the beginning */
}

body
{
    background-color:                   #333;
    /* warning color for anything not inside a reasonable tag */
    /* ACHTUNG: Das wird eigentlich in .pgh_cotent in all.css festgelegt */
    color:                              #f80;
}

/* BEGIN added 2015-10-22 ODr */
label,
.form,
/* END added 2015-10-22 ODr */
art,
blockquote,
caption,
h1, h2, h3, h4, h5, h6,
img,
li,
p,
sect,
table, 
table tbody, 
table tbody tr,
table tbody tr td,
table tbody tr th,
table tfoot,
table thead,
tbody,
tbody tr,
tbody tr td,
tbody tr th,
tfoot,
thead,
tr,
tr td,
tr th,
ul, ul li,
.alt_from_image,
.article,
.blockquote,
.caption,
.document p,
.note,
.part p,
.quote,
.story,
.toc, .toci, .toc .toci
{
    color:                              #333;
}

code,
.annot,
.bibentry,
.link,
.note,
.quote,
.reference
{
    display:                            inline-block;
}

code,
h1, h2, h3, h4, h5, h6,
img,
li,
p,
tbody,
tfoot,
thead,
tr,
ul li,
.alt_from_image,
.annot,
.bibentry,
.form,
.formula,
.index,
.link,
.nonstruct,
.private,
.quote,
.reference,
.rb,
.rt,
.rp,
.ruby,
.warichu,
.wp,
.wt
{
    background-color:                   #f0f0e0;
}

code,
tbody li,
tbody p,
td li,
td p,
th li,
th p,
tr li,
tr p,
.annot,
.bibentry,
.lbl,
.lbody,
.link,
.note,
.quote,
.reference
{
    padding-left:                       55px;
}

art,
blockquote,
caption,
sect,
ul,
.article,
.blockquote,
.caption,
.document,
.part,
.story,
.toc,
.toci,
.toc .toci
{
    margin-top:                         10px;
    margin-bottom:                      10px;

    padding-top:                        10px;
    padding-bottom:                     10px;
    padding-left:                       25px;
}

blockquote,
.blockquote
{
    padding-top:                        35px;
    padding-bottom:                     35px;

    background-image:                   url(../img/blockquote.png);

    font-style:                         italic;
    font-size:                          130%;
    font-family:                        serif !important;
}

.blockquote *       {font-family:       serif;}

.blockquote .note
{
    font-style:                         normal;
    font-size:                          77%;
    font-family:                        sans-serif !important;
}

caption,
.caption
{
    display:                            inline-block;

    padding-right:                      25px;
    padding-left:                       100px;

    background-color:                   #bee;   /* TODO: do we use caption or .caption? */
    background-image:                   url(../img/caption.png);
}

table+.caption,
img+.caption,
.caption+table,
.caption+img
{
    margin-top:                         -5px;
}

.toci, 
.toc .toci
{
    margin-left:                        0px;

    padding-top:                        15px;
    padding-bottom:                     5px;    
    padding-left:                       25px;

    background-image:                   url(../img/toci.png);
    list-style-position:                inside;
}

h1, h2, h3, h4, h5, h6,
img,
p,
li,
ul li,
{
    border-width:                       0;
    margin:                             0;
    padding:                            0;
}

h1, h2, h3, h4, h5, h6
{
    margin-top:                         30px;

    padding:                            20px 0 10px 100px;
}

p,
img,
li,
ul li,
.quote
{
    margin:                             5px 0 5px 0;

    padding:                            5px 20px 5px 100px;
}

p
{
    max-width:                          85%;
    background-image:                   url(../img/p.png);
}

img
{
    display:                            run-in;

    max-width:                          85%;

    margin-right:                       20px;
   
    border:                             4px solid #554;

    background-image:                   url(../img/img.png);
}

NOT-h1:before       {content:           "[H1] ";} 
NOT-h2:before       {content:           "[H2] ";}
NOT-h3:before       {content:           "[H3] ";}
NOT-h4:before       {content:           "[H4] ";} 
NOT-h5:before       {content:           "[H5] ";}
NOT-h6:before       {content:           "[H6] ";}
NOT-p:before        {content:           "[P] ";}

li,
ul li
{
    background-image:                   url(../img/ul-li.png);
    
    list-style-position:                inside; 
}

.lbl
{
    display:                            inline;

    margin-right:                       5px;

    padding-right:                      5px;

    background-color:                   #cff;
    background-image:                   url(../img/lbl.png);
}

.lbody
{
    display:                            inline;

    background-image:                   url(../img/lbody.png);
}

.note 
{
    margin-top:                         5px;
    margin-bottom:                      5px;
    margin-left:                        10px;
    
    padding-top:                        5px;
    padding-right:                      20px;
    padding-bottom:                     5px;

    background-color:                   #fff;
    background-image:                   url(../img/note.png);
}

.quote
{
    margin-right:                       25px;
    border-right:                       15px #a0c2e7 solid;
}

.reference
{
    margin-left:                        5px;

    background-image:                   url(../img/reference.png);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

table, 
table tbody tr,
table tbody tr td,
table tbody tr th,
tbody tr,
tbody tr td,
tbody tr th,
tr,
tr td,
tr th,
/*  not sure why the following do not reflect 
    any CSS attributes in the layout... :-(   
*/
table tbody, 
table tfoot,
table thead,
tbody,
tfoot,
thead
{
    margin-top:                         25px;
    margin-bottom:                      25px;

    padding-top:                        25px;
    padding-bottom:                     25px;
    padding-left:                       25px;
}

table
{
    border-spacing:                     0px;
    background-image:                   url(../img/table.png);
}

td,
th
{
    margin:                             10px;

    padding-top:                        4px;
    padding-bottom:                     4px;
    padding-left:                       100px;

    border:                             2px #333 solid;

    color:                              #000;
}

td
{
    background-color:                   #fe99d7;
    background-image:                   url(../img/td-narrow.png);
}

th
{
    background-color:                   #de00cf;
    background-image:                   url(../img/th-narrow.png);
}

tbody li,
tbody p, 
td li,
td p,
th li,
th p,
tr li, 
tr p
{
    position:                           relative;
    left:                               -15px;

    margin-right:                       -5px;
    margin-bottom:                      10px;

    padding-right:                      5px;
}

art,.article        {background-image:  url(../img/art.png);}
code                {background-image:  url(../img/code.png);}
h1                  {background-image:  url(../img/h1.png);}
h2                  {background-image:  url(../img/h2.png);}
h3                  {background-image:  url(../img/h3.png);}
h4                  {background-image:  url(../img/h4.png);}
h5                  {background-image:  url(../img/h5.png);}
h6                  {background-image:  url(../img/h6.png);}
sect,.story         {background-image:  url(../img/sect.png);}
tbody               {background-image:  url(../img/tbody.png);}
tfoot               {background-image:  url(../img/tfoot.png);}
thead               {background-image:  url(../img/thead.png);}
tr                  {background-image:  url(../img/tr.png);}
ul                  {background-image:  url(../img/ul.png);}
.annot              {background-image:  url(../img/annot.png);}
.bibentry           {background-image:  url(../img/bibentry.png);}
.document           {background-image:  url(../img/document.png);}
.form               {background-image:  url(../img/form.png);}
.formula            {background-image:  url(../img/formula.png);}
.index              {background-image:  url(../img/index.png);}
.link               {background-image:  url(../img/link.png);}
.nonstruct          {background-image:  url(../img/nonstruct.png);}
.quote              {background-image:  url(../img/quote.png);}
.part               {background-image:  url(../img/part.png);}
.private            {background-image:  url(../img/private.png);}
.rb                 {background-image:  url(../img/rb.png);}
.rt                 {background-image:  url(../img/rt.png);}
.rp                 {background-image:  url(../img/rp.png);}
.ruby               {background-image:  url(../img/ruby.png);}
.toc                {background-image:  url(../img/toc.png);}
.warichu            {background-image:  url(../img/warichu.png);}
.wp                 {background-image:  url(../img/wp.png);}
.wt                 {background-image:  url(../img/wt.png);}

.artifact           {display:           none !important;}

.alt_from_image, label
{
    display:                            block;

    margin-top:                         -5px;

    padding:                            4px;    
    padding-left:                       60px;

    /* width:                              50%; changed ODr 2015-10-21 to value below*/
    width:                              auto;

    border:                             4px solid #554;

    background-color:                   #fff;
    background-image:                   url(../img/alt.png);
}




/* .alt_from_image:before {content: "[Alternativ-Text for Bild:] "; */

/* === if we turn this on, then only H1 throgh H6 will display, without gaps   ===

    p, ul li, img, td, th, ul, table  {
        display:none !important; */

/* }
    
    h1, h2, h3, h4, h5, h6 {
        margin: 0px; */

/*
 == don't display artifacts
*/



input {
    height: 2em;
}


.pgh_exception
{
    display:                            inline;

    color:                              #000;
    background-color:                   #ff0;

}

.pgh_exception:before
{
    content:                            'STOP';

    margin-right:                       0.4em;

    padding:                            0.1em;

    color:                              #fff;
    background-color:                   #f00;
}


/* Copied from all.css to work in MTT Preview */

/* Classes */

.lbl
{
    display:                            none;
}

.alt_from_image,
.caption
{
    visibility:                         visible;
    font-style:                         italic;
    font-size:                          80%;
    display:                            block;
/*  display:                            none; */
}

.alt_from_image:before,
.alt_from_image:after
{
    content:                            ' ';
}

/* suppress display of real text, where ActualText provides the text intended to appear to the reader */
/* NOTE: this will have to be refined for the MadeToTag / Structure tags view, 
   as we want to have a visual indication for all instances where ActualText is used 
*/

.realText
{
    display:                            none;
}

h1, h2, h3, h4, h5, h6,
ul,
ol,
p,
.alt_from_image
{
    color:                              #000;
}

.pgh_content
{
    margin:                             1em;
/* Make all text thats not embedded in a special tag #f00 */
    color:                              #f00;
}

/* Styles for Table Cell Highlighting */

td,
th
{
    border-width:                   3px;
   /* background-image:               none; */

}

/*    th[headers=""],
td[headers=""]
{
    background-image:               none;
    background-color:               #555;
}*/

/** 
.highlight_while_hovered
{
    background-color:               rgb(124,252,0);
    background-image:               none;
    border-color:                   rgb(255,255,0);
    border-style:                   dashed;
    border-width:                   3px;
}
**/

.header_while_child_selected_1
{
    background-color:               #eddb82;
    background-image:               none;
}  

.header_while_child_selected_2
{
    background-color:               #ffd500;
    background-image:               none;
}

.header_while_child_selected_3
{
    background-color:               #d9a121;
    background-image:               none;
}

.header_while_child_selected_4
{
    background-color:               #b8840b;
    background-image:               none;
}  

.header_while_child_selected_5
{
    background-color:               #aaa;
    background-image:               none;
}    

.child_while_header_selected_1
{
    background-color:               #00bfff;
    background-image:               none;
}

.child_while_header_selected_2
{
    background-color:               #1f93ff;
    background-image:               none;
}

.child_while_header_selected_3
{
    background-color:               #0000ff;
    background-image:               none;
}

.child_while_header_selected_4
{
    background-color:               #000080;
    background-image:               none;
}

.child_while_header_selected_5
{
    background-color:               #aaa;
    background-image:               none;
}





/* BEGIN added ODr 2015-10-21 */
input, select {
    display:none;
}
span.form {
    display: block;
}

span.buttonfield ,
span.checkboxfield ,
span.radiobuttonfield ,
span.comboboxfield ,
span.listboxfield ,
span.signaturefield , 
span.textfield ,
span.barcodefield{
    display: block; width: 48px; height: 48px; background-size: 48px 48px;
    border: 1px solid #bbb;
}
span.buttonfield {      background-image: url("../img/buttonfield.png");  }
span.checkboxfield {    background-image: url("../img/checkboxfield.png");  }
span.radiobuttonfield { background-image: url("../img/radiobuttonfield.png");   }
span.comboboxfield {    background-image: url("../img/comboboxfield.png");  }
span.listboxfield {     background-image: url("../img/listboxfield.png");   }
span.signaturefield {   background-image: url("../img/signaturefield.png"); }
span.textfield {        background-image: url("../img/textfield.png");  }
span.barcodefield {     background-image: url("../img/barcode.png");    }


.form , select {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 55px;
}

.attribs_from_field
{
    display:                            block;

    margin-top:                         5px;

    padding:                            4px;    
    padding-left:                       60px;

    /* width:                              50%; changed ODr 2015-10-21 to value below*/
    width:                              auto;

    border:                             4px solid #aaa;

    font-size:                          50%;

    background-color:                   #fff;
    background-image:                   url(../img/attributes.png);
}

/* END added ODr 2015-10-21 */
