/*====================IMAGERESOLUTION====================*/

.page-image-resolution h2 {
    font-size: large;
}

.image-resolution-no-image {
    display: flex;
    align-items: center;
}

.image-resolution-no-image img {
    width: 5mm;
    height: 5mm;
    margin-right: 1mm;
}

.image-resolution-heatmap {
    margin: 5mm 0;
    display: flex;
}

.image-resolution-heatmap .color-block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.2mm;
}

.image-resolution-heatmap .color-block {
    width: 13mm;
    height: 13mm;
}

.image-resolution-image-box {
    display: inline-block;
    page-break-inside: avoid;
    margin-right: 10mm;
    width: 50mm;
}

.image-resolution-image-container {
    margin-top: 1.5mm;
    width: inherit;
    height: 85mm;
}

.image-resolution-image-container img {
    max-width: 100%;
    max-height: 100%;
}
