
.page-page-information h2 {
    font-size: large;
}

.page-information-container {
    display: flex;
    flex-direction: row;
}

.page-information-container.landscape {
    flex-direction: column;
}

.page-information-pagenumber {
    margin: 1mm 0;
}

.page-information-visual {
    flex-shrink: 0;
    position: relative;
    margin-right: 10mm;
    width: 50mm;
}

.landscape .page-information-visual {
    max-height: 50mm;
    width: 100%;
    margin: 0;
    margin-bottom: 5mm;
}

.page-information-visual img {
    width: 100%;
    height: auto;
}

.landscape .page-information-visual img {
    height: auto;
    width: auto;
    max-height: inherit;
    max-width: 100%;
}

#page-information-markers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-information-data {
    width: 100%;
}

.page-information-table {
    width: 100%;
    text-align: left;
    margin: 1mm 0 5mm 0;
}

.page-information-table th:first-child,
.page-information-table td:first-child {
    width: 33%;
}
