<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- Common Services -->

	<bean id="textResourceService"
		class="ch.kostceco.tools.kostval.service.impl.TextResourceServiceImpl">
	</bean>

	<bean id="configurationService"
		class="ch.kostceco.tools.kostval.service.impl.ConfigurationServiceImpl">
		<property name="textResourceService" ref="textResourceService" />
	</bean>

	<bean id="messageService"
		class="ch.kostceco.tools.kostval.service.impl.MessageServiceImpl">
	</bean>


	<!-- Validation Services -->
	<bean id="validationArecognitionModule" class="ch.kostceco.tools.kostval.validation.moduletiff1.impl.ValidationArecognitionModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>
	<bean id="validationBjhoveValidationModule" class="ch.kostceco.tools.kostval.validation.moduletiff2.impl.ValidationBjhoveValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>
	<bean id="validationCcompressionValidationModule" class="ch.kostceco.tools.kostval.validation.moduletiff2.impl.ValidationCcompressionValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>
	<bean id="validationDphotointerValidationModule" class="ch.kostceco.tools.kostval.validation.moduletiff2.impl.ValidationDphotointerValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>
	<bean id="validationEbitspersampleValidationModule" class="ch.kostceco.tools.kostval.validation.moduletiff2.impl.ValidationEbitspersampleValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>
	<bean id="validationFmultipageValidationModule" class="ch.kostceco.tools.kostval.validation.moduletiff2.impl.ValidationFmultipageValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>
	<bean id="validationGtilesValidationModule" class="ch.kostceco.tools.kostval.validation.moduletiff2.impl.ValidationGtilesValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>
	<bean id="validationHsizeValidationModule" class="ch.kostceco.tools.kostval.validation.moduletiff2.impl.ValidationHsizeValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>
	
	<bean id="validationAzipModule" class="ch.kostceco.tools.kostval.validation.modulesiard.impl.ValidationAzipModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
	</bean>
	<bean id="validationBprimaryStructureModule" class="ch.kostceco.tools.kostval.validation.modulesiard.impl.ValidationBprimaryStructureModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
	</bean>
	<bean id="validationCheaderModule" class="ch.kostceco.tools.kostval.validation.modulesiard.impl.ValidationCheaderModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean> 
	<bean id="validationDstructureModule" class="ch.kostceco.tools.kostval.validation.modulesiard.impl.ValidationDstructureModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
        <property name="configurationService" ref="configurationService" />
	</bean>
    <bean id="validationEcolumnModule" class="ch.kostceco.tools.kostval.validation.modulesiard.impl.ValidationEcolumnModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean> 
	<bean id="validationFrowModule" class="ch.kostceco.tools.kostval.validation.modulesiard.impl.ValidationFrowModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>
	<bean id="validationGtableModule" class="ch.kostceco.tools.kostval.validation.modulesiard.impl.ValidationGtableModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean> 
	<bean id="validationHcontentModule" class="ch.kostceco.tools.kostval.validation.modulesiard.impl.ValidationHcontentModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
        <property name="configurationService" ref="configurationService" />
	</bean>
	<bean id="validationIrecognitionModule" class="ch.kostceco.tools.kostval.validation.modulesiard.impl.ValidationIrecognitionModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
	</bean>
	<bean id="validationJsurplusFilesModule" class="ch.kostceco.tools.kostval.validation.modulesiard.impl.ValidationJsurplusFilesModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
        <property name="configurationService" ref="configurationService" />
	</bean>
	
	
	<bean id="validationAinitialisationModule" class="ch.kostceco.tools.kostval.validation.modulepdfa.impl.ValidationAinitialisationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>
	<bean id="validationAvalidationAiModule" class="ch.kostceco.tools.kostval.validation.modulepdfa.impl.ValidationAvalidationAiModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean>

	<bean id="validationAvalidationAModule" class="ch.kostceco.tools.kostval.validation.modulejp2.impl.ValidationAvalidationAModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<!-- <property name="configurationService" ref="configurationService" /> -->
	</bean>
	
	<bean id="validation1bFolderStructureModule" class="ch.kostceco.tools.kostval.validation.modulesip1.impl.Validation1bFolderStructureModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
	</bean>
	<bean id="validation1cNamingModule" class="ch.kostceco.tools.kostval.validation.modulesip1.impl.Validation1cNamingModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="configurationService" ref="configurationService" />
		<property name="messageService" ref="messageService" />
	</bean>
	<bean id="validation1dMetadataModule" class="ch.kostceco.tools.kostval.validation.modulesip1.impl.Validation1dMetadataModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="configurationService" ref="configurationService" />
		<property name="messageService" ref="messageService" />
	</bean>
	<bean id="validation1eSipTypeModule" class="ch.kostceco.tools.kostval.validation.modulesip1.impl.Validation1eSipTypeModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
	</bean>
	<bean id="validation1fPrimaryDataModule" class="ch.kostceco.tools.kostval.validation.modulesip1.impl.Validation1fPrimaryDataModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
	</bean>
	<bean id="validation2aFileIntegrityModule" class="ch.kostceco.tools.kostval.validation.modulesip2.impl.Validation2aFileIntegrityModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
	</bean>
	<bean id="validation2cChecksumModule" class="ch.kostceco.tools.kostval.validation.modulesip2.impl.Validation2cChecksumModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
	</bean>
	<bean id="validation2dGeverFileIntegrityModule" class="ch.kostceco.tools.kostval.validation.modulesip2.impl.Validation2dGeverFileIntegrityModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
	</bean>
	<bean id="validation3aFormatRecognitionModule" class="ch.kostceco.tools.kostval.validation.modulesip3.impl.Validation3aFormatRecognitionModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="configurationService" ref="configurationService" />
		<property name="messageService" ref="messageService" />
	</bean>
	<bean id="validation3bUnspecifiedFormatModule" class="ch.kostceco.tools.kostval.validation.modulesip3.impl.Validation3bUnspecifiedFormatModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="configurationService" ref="configurationService" />
		<property name="messageService" ref="messageService" />
	</bean>
	<bean id="validation3cFormatValidationModule" class="ch.kostceco.tools.kostval.validation.modulesip3.impl.Validation3cFormatValidationModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
		<property name="configurationService" ref="configurationService" />
	</bean> 
	<bean id="validation3dPeriodModule" class="ch.kostceco.tools.kostval.validation.modulesip3.impl.Validation3dPeriodModuleImpl">
		<property name="textResourceService" ref="textResourceService" />
		<property name="messageService" ref="messageService" />
	</bean>

	<bean id="kostval" class="ch.kostceco.tools.kostval.KOSTVal">
		<property name="textResourceService" ref="textResourceService" />
		<property name="configurationService" ref="configurationService" />
	</bean>

	<bean id="logconfigurator" class="ch.kostceco.tools.kostval.logging.LogConfigurator">
		<property name="textResourceService" ref="textResourceService" />
	</bean>

	<bean id="controllertiff" class="ch.kostceco.tools.kostval.controller.Controllertiff">
		<property name="textResourceService" ref="textResourceService" />
		<property name="validationArecognitionModule" ref="validationArecognitionModule" />
		<property name="validationBjhoveValidationModule" ref="validationBjhoveValidationModule" />
		<property name="validationCcompressionValidationModule" ref="validationCcompressionValidationModule" />
		<property name="validationDphotointerValidationModule" ref="validationDphotointerValidationModule" />
		<property name="validationEbitspersampleValidationModule" ref="validationEbitspersampleValidationModule" />
		<property name="validationFmultipageValidationModule" ref="validationFmultipageValidationModule" />
		<property name="validationGtilesValidationModule" ref="validationGtilesValidationModule" />
		<property name="validationHsizeValidationModule" ref="validationHsizeValidationModule" />
	</bean>
	
	<bean id="controllersiard" class="ch.kostceco.tools.kostval.controller.Controllersiard">
		<property name="textResourceService" ref="textResourceService" />
		<property name="validationAzipModule" ref="validationAzipModule" />
		<property name="validationBprimaryStructureModule" ref="validationBprimaryStructureModule" />
		<property name="validationCheaderModule" ref="validationCheaderModule" /> 
		<property name="validationDstructureModule" ref="validationDstructureModule" />
		<property name="validationEcolumnModule" ref="validationEcolumnModule" />
		<property name="validationFrowModule" ref="validationFrowModule" />
		<property name="validationGtableModule" ref="validationGtableModule" /> 
		<property name="validationHcontentModule" ref="validationHcontentModule" />
		<property name="validationIrecognitionModule" ref="validationIrecognitionModule" />
		<property name="validationJsurplusFilesModule" ref="validationJsurplusFilesModule" />
	</bean> 
	
	<bean id="controllerpdfa" class="ch.kostceco.tools.kostval.controller.Controllerpdfa">
		<property name="textResourceService" ref="textResourceService" />
		<property name="validationAinitialisationModule" ref="validationAinitialisationModule" />
		<property name="validationAvalidationAiModule" ref="validationAvalidationAiModule" />
	</bean>

	<bean id="controllerjp2" class="ch.kostceco.tools.kostval.controller.Controllerjp2">
		<property name="textResourceService" ref="textResourceService" />
		<property name="validationAvalidationAModule" ref="validationAvalidationAModule" />
	</bean>

	<bean id="controllersip" class="ch.kostceco.tools.kostval.controller.Controllersip">
		<property name="textResourceService" ref="textResourceService" />
		<property name="validation1bFolderStructureModule" ref="validation1bFolderStructureModule" />
		<property name="validation1cNamingModule" ref="validation1cNamingModule" />
		<property name="validation1dMetadataModule" ref="validation1dMetadataModule" />
		<property name="validation1eSipTypeModule" ref="validation1eSipTypeModule" />
		<property name="validation1fPrimaryDataModule" ref="validation1fPrimaryDataModule" />
		<property name="validation2aFileIntegrityModule" ref="validation2aFileIntegrityModule" />
		<property name="validation2cChecksumModule" ref="validation2cChecksumModule" />
		<property name="validation2dGeverFileIntegrityModule" ref="validation2dGeverFileIntegrityModule" />
		<property name="validation3aFormatRecognitionModule" ref="validation3aFormatRecognitionModule" />
		<property name="validation3bUnspecifiedFormatModule" ref="validation3bUnspecifiedFormatModule" />
		<property name="validation3cFormatValidationModule" ref="validation3cFormatValidationModule" />
		<property name="validation3dPeriodModule" ref="validation3dPeriodModule" />
	</bean>

</beans>