@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular.ttf");
	font-style: normal
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Bold.ttf");
	font-weight: bold
}

@page {
	size: A4 portrait; 
	margin: 19mm 19mm 19mm 19mm
}

body {
	width: 172mm; /* must match @page settings! */
	margin: 0mm;
	padding: 0mm
}

/*img[apple-width="yes"],*/
img.ccmip-img
 {
	height:auto;
	/* width:auto; */
	max-width: 100%
}

.ccmip-text-plain {
	font-family: "OpenSans", sans-serif;
	font-size: 10pt;
	white-space: pre-wrap;
	word-break: break-word
}

.cchip_body {
	word-break: break-word
}

.ccmip-text-html {
	padding-top: 0.5em;
	border-top-width: 1px;
	border-top-style: solid
}

.cchip_attachment_page {
	page-break-before: always
}

.cchip_attachment_page_header {
	margin: 0mm 0mm 5mm 0mm
}

.cchip_attachment_page img {
	max-width: 180mm;
	max-height: 247mm
}


.cchip_headers_container {
	width: 100%;
	background-color: #fff;
	color: #808080;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: 1px #aaa solid;
}

.cchip_headers {
	display: table;
	margin-left: 0px;
	margin-bottom: 0.5em;
}

.cchip_headers_for_key {
	display: table-row;
	padding-bottom: 1em
}

.cchip_header_key,
.cchip_header_value {
	display: table-cell;
	font-family: "OpenSans", sans-serif;
	font-size: 8pt;
	word-break: break-word;
	padding-bottom: 0.2em;
	vertical-align: top
}

.cchip_header_value {
	white-space: pre-wrap
}

.cchip_header_value a {
	color: #00f
}

.cchip_header_value .cchip_display_name {
	margin-right: 0.5em
}

.cchip_header_value .cchip_sep {
	margin-right: 0.5em
}

.cchip_header_key {
	font-weight: bold;
	text-align: right;
	padding-right: 0.5em;
	white-space: nowrap
}

.from_value,
.subject_value,
.date_value {
 	color: #000
}

.cchip_bracket {
	display: none
}

.from_value .cchip_display_name {
	font-weight: bold
}

.cchip_display_name {
	color: #000;
	white-space: nowrap;
}

.cchip_address {
	font-weight: normal;
	color: #808080
}

div.cchip_debug {
	padding-bottom: 10mm;
	background-color: Bisque;
	color: green;
	text-align: left;
	font-family: Courier;

	position: absolute;   
    height: auto; width: auto;    
    left: 200px; top: 200px;
    padding: 3px;
/*
	opacity: 0.6;
*/
	font-size: 6pt;
	text-align: left;
	z-index: 5;
	visibility: hidden
}
