*{
	font-size: 9pt;
	font-family: sans-serif, Arial, Helvetica;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid lightgray;
}

td {
    border: 1px solid lightgray;
    width: 50%;
}

td.diff_label {
    width: auto;
}

td.diff_marker {
    width: auto;
}

td.hasdiff {
    background-color: mistyrose;
}

td.diff_marker.hasdiff.added_left {
    background-color: mistyrose;
}

td.diff_marker.hasdiff.added_right {
    background-color: mistyrose;
}

tr.typename {
	font-weight: bold;
}

tr.hidden {
	display: none;
}

tr.forcevisible {
	display: initial;
}

.delete {
	display: inline;
	background-color: mistyrose;
}

.replace {
	display: inline;
	background-color: blanchedalmond;
}

.insert {
	display: inline;
	background-color: blanchedalmond;
}

.equal {
	display: inline;
	/*background-color: snow;*/
}

.added {
	display: inline;
	background-color: blanchedalmond;
}
