@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Regular.ttf");
	font-style: normal
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans-Bold.ttf");
	font-weight: bold
}

@page {
	size: A4 portrait; 
	margin: 15mm
}

body {
	width: 180mm; /* must match @page settings! */
	margin: 0;
	padding: 0;
	word-break: break-word;
}

/*img[apple-width="yes"],*/
img.ccmip-img {
	height:auto;
	/* width:auto; */
	max-width: 100%
}

.ccmip-text-plain {
	font-family: "Menlo", "Consolas", "Courier", monospace;
	font-size: 9pt;
	white-space: pre-wrap;
	word-break: break-word
}

.cchip_body {
	word-break: break-word
}

.ccmip-text-html {
	padding-top: 0.5em;
	border-top-width: 1px;
	border-top-style: solid
}

.cchip_attachment_page {
	page-break-before: always
}

.cchip_attachment_page_header {
	margin: 0mm 0mm 5mm 0mm
}

.cchip_attachment_page img {
	max-width: 180mm;
	max-height: 246mm
}

.cchip_headers {
	width: 100%;
	padding-bottom: 10mm;
	background-color: #fff;
	color: #000;
	text-align: left
}

.cchip_header_key,
.cchip_header_value {
	font-family: "Lucida Grande", "Arial", "OpenSans", sans-serif;
	font-size: 10pt;
	word-break: break-word
}

.cchip_header_value a {
	color: #00f
}

.cchip_header_value .cchip_display_name {
	margin-right: 0.5em
}

.cchip_header_value .cchip_sep {
	margin-right: 0.5em
}

.cchip_header_key {
	display: inline-block;
	vertical-align: top;
	font-weight: bold;
	margin-right: 0.5em;
	margin-bottom: 0.2em
}

div.cchip_debug {
	padding-bottom: 10mm;
	background-color: Bisque;
	color: green;
	text-align: left;
	font-family: Courier;

	position: absolute;
	height: auto; width: auto;
	left: 60; top: 30px;
	padding: 3px;
/*
	opacity: 0.6;
*/
	font-size: 6pt;
	text-align: left
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word
}

font {
	display: contents
}

p font {
	display: block
}
