:root {
    --main-color: #bf0d3e;
    --secondary-color: #861f41;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.eot");
    src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/OpenSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: OpenSans;
    box-sizing: border-box;
}

@page {
    size: A4 portrait;
    marks: crop;
    margin: 10mm;
    margin-top: 24mm;
}

body {
    margin: 0;
}

.page-overview {}
.page-spotcolors,
.page-page-information,
.page-ink-coverage,
.page-ink-amount-heatmaps,
.page-seperation-process,
.page-seperation-spot {
    display: none;
    page-break-before: always;
}

.txt-bold {
    font-weight: bold;
}

.txt-small {
    font-size: small;
}

.txt-large {
    font-size: large;
}

.txt-xlarge {
    font-size: x-large;
}

.txt-col-red {
    color: var(--secondary-color);
}

.txt-col-grey {
    color: rgb(105,105,105);
}