body {
  margin: 0;
}
.rect {
  float: left;
  margin: auto;
  border-radius:  20px;
  padding: 6px;
  padding-right: 20px;
  padding-left: 16px;
  text-align: left;
  font-family: "Arial", "Arial", sans-serif;
  font-style: oblique;
  font-weight: bold;
  font-size: 45px;
}
.gradient-linear-blue {
  background: -webkit-linear-gradient(10deg, lightskyblue, dodgerblue );
  border: 2px solid navy;
  color:  navy;
}
.gradient-linear-red {
  background: -webkit-linear-gradient(10deg, mistyrose, salmon );
  border: 2px solid firebrick;
  color: firebrick;
}
.gradient-linear-green {
  background: -webkit-linear-gradient(10deg, lightyellow, palegreen );
  border: 2px solid green;
  color: green;
}
.gradient-linear-gray {
  background: -webkit-linear-gradient(10deg, snow, silver );
  border: 2px solid gray;
  color: gray;
}
.gradient-linear-yellow {
  background: -webkit-linear-gradient(10deg, LightYellow, Moccasin );
  border: 2px solid SaddleBrown;
  color: SaddleBrown;
}
.gradient-linear-lila {
  background: -webkit-linear-gradient(10deg, Lavender, Violet );
  border: 2px solid Indigo;
  color: Indigo;
}
